:root{
    --primery-text-color:#757575 ;
    --text-title-color:rgb(21, 21, 21);
    --link-hover-color: #2196F3 ;
    --primery-bg-color:white;
    --bg-hero-color:#2F303A;
    --font-size:14px;
}
.page{
    background-color:var(--primery-bg-color);
    color:#757575 ;
    font-family: Roboto,sans-serif;
    font-size:var(--font-size);
    font-weight: 500;
    line-height: 1.17;
}




/* header*/

.logo-first{color:#2196F3;
    font-family:Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
    
}
.logo-first:hover{
    color:var(--link-hover-color);

}

.logo-second{
    color: #000000;
    font-family: Oleo Script, sans-serif;
font-size: 26px;
font-weight: 400;
line-height: 1.4;
letter-spacing: 0.03em;
text-align: left;

}
.link-nav .link {
    color: var(--text-title-color);
}
.link-nav .link:hover,
.link-nav .link:focus{ 
    color:var(--link-hover-color);
}

.contact-link .link{
    color: var(--primery-text-color);
}
.contact-link .link:hover,
.contact-link .link:focus{
    color: var(--link-hover-color);
}
.link-nav .link.curent{
    color: var(--link-hover-color);
}
/* main */
/* section hero  */
.hero{
background-color:var(--bg-hero-color);    
}
.hero .title-hero{
color:#FFFFFF;
font-size: 44px;
font-weight: 900;
line-height: 1.4;
letter-spacing: 0.06em;
text-align: center;
text-transform: uppercase;
}

.hero .button-hero{
color:#FFFFFF;
background-color: #2196F3;
font-size: 16px;
font-weight: 700;
line-height: 1.9;
letter-spacing: 0.06em;
}

/* section1 */
.fueture  .subtitle{
color:var(--text-title-color);
font-weight: 700;
letter-spacing: 0.03em;
}
.fueture .information {font-family: Roboto;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
   
    }


/* section2-3 */
.section .title{
    color: var(--text-title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;

}
/* section3  */

.team .name{
    color: var(--text-title-color);
    font-size: 16px;
    font-weight:500;
    line-height: 1.2;
    letter-spacing: 0.03em; 
}
.team .specialty{font-family: Roboto;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
/* footer */
.footer{background-color: var(--bg-hero-color);}
.footer .logo-first{
    color:#2196F3
}
.footer .logo-first:hover,
.footer .logo-first:focus{
    color:var(--link-hover-color);
}
.footer .logo-second-footer{
    color: #FFFFFF;
}

.footer .link-adres{
    color: white;
font-weight: 400;
letter-spacing: 0.03em;
}
.footer .link-adres:hover,
.footer .link-adres:focus{
    color: var(--link-hover-color);
}
.footer .link{
    color: rgba(255, 255, 255, 0.6);
font-weight: 400;
letter-spacing: 0.03em;    
}
.footer .link:hover,
.footer .link:focus{
    color: var(--link-hover-color);
}
/* portfolio */
.button{color: var(--primery-text-color);
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
}
.button:hover,
.button:focus{color: #FFFFFF;
background-color: #2196F3;
}
.foto .title-foto{
    color: var(--text-title-color);
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
}
.foto .text{
    color: var(--primery-text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.9;
letter-spacing: 0.03em;
}
a {
    text-decoration: none;
  }
  






ul{
    list-style: none;
}

/* frony-fameli robot */
/* text weight=400 */
/* text-h1 weight=900 */
/* text-h2-h3 weight=700 */
/* text-h3-name weight=500 */



    /* текст #212121*/
/* hover tekst #2196F3*/
/* bacground foto #2F303A */
/* baground site #FFFFFF */
/* p tekst #757575 */
/* зверху посилання чорні з низу білі  */
